/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/**
 * 属性的书写顺序：
 * 按照元素模型由外及内，由整体到细节书写，大致分为五组：
 *    位置：position,left,right,float
      盒模型属性：display,margin,padding,width,height
      边框与背景：border,background
      段落与文本：line-height,text-indent,font,color,text-decoration,...
      其他属性：overflow,cursor,visibility,...
   :link :visited :hover :active书写顺序 L-V-H-A，速记：LoVe（喜欢）HAte（讨厌）
 */

/* ==========================================================================
   Base styles: opinionated defaults 自己默认的基本风格
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";
}

html, body {
  width: 100%;
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight:高亮选中的文字，去除文字阴影
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.这些选择规则集必须是独立的。
 * Customize the background color to match your design.自定义背景色，以配合您的设计。
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule一个更好的具有前瞻性的默认水平线规则
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,移除audio、canvas、iframes之间的间距，
 * images, videos and the bottom of their containers:图片，视频和它们的容器的底部间隙：
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.移除默认的fieldset的样式
 */

/* fieldset {
    border: 0;
    margin: 0;
    padding: 0;
} */

/*
 * Allow only vertical resizing of textareas.只允许垂直调整文本区域
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt 浏览器升级提示
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles 作者定制风格
   ========================================================================== */
/*移动端左右滑动*/
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}


/* ==========================================================================
   Helper classes 辅助类
   ========================================================================== */

/*
 * Hide visually and from screen readers在视觉和屏幕阅读器上隐藏
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:只在视觉上隐藏，但它可用于屏幕阅读器：
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);/* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);/* Webkit, Opera */
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element扩展.visuallyhidden, 允许文字出现在适当的时候（即通过键盘导航时可以focus）
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout在视觉上和屏幕阅读器隐藏，但仍维持布局
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats 闭合浮动：浮动内容
 *
 * For modern browsers 现代浏览器
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *    http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design. 响应式设计的媒体查询示例
   These examples override the primary ('mobile first') styles.这些例子覆盖原来的样式，移动优先
   Modify as content requires.修改为需要的内容
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition 对于符合条件的视口样式调整*/
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices 高分辨率设备样式调整 */
}

/* ==========================================================================
   Print styles. 打印样式
   Inlined to avoid the additional HTTP request: 倾向于避免额外的HTTP请求：
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:黑色打印速度更快：
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,不显示片段标识符的链接，
     * or use the `javascript:` pseudo protocol 或使用` JavaScript：`伪协议
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:打印表格
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
